.container {
  margin-top: 40px;
  margin-bottom: 40px;
}

.title {
  margin-bottom: 5px;
  text-align: center;
}

.subtitle {
  text-align: center;
  margin-bottom: 30px;
  color: var(--mantine-color-dimmed);
}

.stepper {
  margin-bottom: 30px;
}

.stepBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step {
  padding: 4px;
}

.stepLabel {
  font-size: 12px;
  font-weight: 500;
}

.stepCompletedIcon {
  background-color: var(--mantine-color-green-6);
}

.paper {
  border: 1px solid var(--mantine-color-gray-3);
  box-shadow: var(--mantine-shadow-md);
  padding: 30px;
  margin-bottom: 20px;
  border-radius: var(--mantine-radius-md);
}

.questionHeader {
  margin-bottom: 10px;
}

.questionTitle {
  font-weight: 500;
}

.progress {
  width: 100%;
  margin-bottom: 20px;
}

.textarea {
  margin-bottom: 20px;
  min-height: 200px;
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
}